<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitação de Adoção</title>
</head>
<body>
    <h1>Formulário de Adoção</h1>
    <h2>Adote {{ animal.name }}</h2>
    <p>Espécie: {{ animal.species }}</p>
    <p>Raça: {{ animal.breed }}</p>
    <p>Idade: {{ animal.age }}</p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar Solicitação</button>
    </form>

    <a href="{% url 'animal_list' %}">Voltar para a lista de animais</a>
</body>
</html>
