@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Strike&display=swap');

body {
    height: 100vh;
    /* overflow: hidden; */
}

/* cor de fundo da navbar/footer */
.navbar-custom {
    background-color: #F25287;
    min-height: 100px;
}

/* cor, tamanho e family do titulo */
.navbar-brand-custom {
    font-family: 'Protest Strike';
    font-size: 40px;
    color: white;
    text-decoration: none;
}



.navbar-brand-custom:hover {
    color: white;
}

/* tamanho, cor, borda e altura da barra de pesquisa */
.form-custom {
    width: 80%;
    background-color: white;
    border-radius: 50px;
    height: 60px;
    padding: 10px;
}

.form-custom > input {
    border: none;
}

.form-custom > input:focus {
    border-radius: 50px;
}

.form-control,
.form-control::placeholder {
    font-family: 'Montserrat', serif;
}

/* cor do icone de busca */
.fa-solid {
    color: #F25287;
    font-size: 30px;
}


/* estiliza btn toggle mobile */
.navbar-toggle-custom {
    color: white;
    border: none;
}

.fa-bars {
    font-size: 30px;
}

.footer-custom {
    background-color: #F25287;
    font-family: 'Protest Strike';
    font-size: 20px;
    min-height: 80px;
}

.footer-item-custom,
.footer-item-custom a {
    color: white;
    gap: 5px;
    text-decoration: none
}

.footer-item-custom:hover {
    color: white;
}

.footer-item-custom a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}
/* width 100% da barra de pesquisa mobile */
@media (max-width: 991px) {
    .form-custom {
        width: 100%;
        margin-top: 20px;
    }
}
