@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Strike&display=swap');

/*  alinhamento, cor e margin da div*/
.title {
    text-align: center;
    color: #F25287;
    margin: 24px 0;
}

/* estilo tag h1 - titulo */
.title h1 {
    font-family: "Protest Strike";
}

/* estilo tag h2 - titulo */
.title h3 {
    font-family: "Montserrat", serif;
    color: black;
    font-weight: 300;
    font-size: 24px;
}

/* disposição dos cards */
.list-animals {
    justify-content: space-around;
}

/* card dos animais */
.card-custom {
    width: 15rem;
    background-color: #FFDFDF;
    margin-bottom: 24px;
}

/* img do card dos animais */
.card-img-custom {
    padding: 10px;
}

/* informações dos pets (nome, raça) */
.card-body-custom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* nome do pet - estilização */
.card-body-custom h5 {
    font-family: 'Protest Strike', serif;
    font-weight: bold;
}

/* raça do pet - estilização */
.card-body-custom p {
    font-family: 'Montserrat', serif;
}

/* btn de adotar */
.btn-custom {
    background-color: #F25287;
    font-family: 'Protest Strike';
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;}

.btn-custom:hover {
    background-color: #F25287;
    color: white;
    transform: scale(1.05);
}
