.container-fluid-custom {
    height: 100vh;
}

.animal-name {
    color: #FFEFEF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #F25287;
}

.animal-detail {
    flex-direction: row;
    justify-content: space-around;
    height: 70%;
}

.left-bar {
    border: 1px solid #F25287;
    background-color: #FFDFDF;
}

.right-bar {
    padding: 1rem;
}
.card-body-detail-custom {
    margin-top: 1rem;
}

.card-text-detail-custom {
    gap: 1rem;
    margin-left: 1rem;
    font-family: 'Montserrat';
}

.card-img-detail-custom {
    margin: 10px;
    max-height: 350px;
}

.card-text-detail-custom {
    font-size: 1.1rem;
    gap: 0.5rem;
}

.title-detail-custom h3 {
    font-family: "Protest Strike";
    color: #F25287;
}

.btn-detail-adoption, 
.btn-detail-custom {
    width: 100%;
}

.description {
    font-family: 'Montserrat';
}

/* responsividade para mobile */
@media (max-width: 991.98px) {
    .animal-detail {
        flex-direction: column;
    }
}

@media (max-width: 575.98px) { 
    .card-img-detail-custom {
        max-height: 250px;
    }
}
